<div>
  <%= flash[:notice] %>
</div>

<h1>Books</h1>

<% @books.each do |book| %>

 <p>Title</p>
 <span><%= book.title %></span>
 
 <p>Body</p>
 <span><%= book.body %></span>
 
 <p>
 <span>
   <%= link_to "Show", book_path(book.id) %>
 </span>
 </p>
 
 <p>
   <%= link_to "Edit", edit_book_path(book.id) %>
 </p>
 
 <p>
 <%= link_to "Destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "Are you sure？" %>
 </p>
 
 
<% end %>
 